{% extends 'base.html.twig' %}

{% block title %}
    Quickdoc - Recherche
{% endblock %}

{% block body %}
    <div class="p-4 mb-4 bg-light rounded-3">
        <div class="container-fluid">
            <h1 class="display-6 fw-bold">Rechercher des pages</h1>
        </div>
    </div>

    <form class="mb-4" action="" method="get">
        <div class="input-group mb-3">
            <input type="search" class="form-control form-control-lg" name="term"
                   placeholder="Recherche dans le titre et le contenu ..." value="{{ app.request.get('term') }}"
                   aria-label="Rechercher">
            <button type="submit" class="input-group-text btn-primary px-3"><i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>

    <div class="d-flex flex-column">
        {% for page in pages %}
            <div class="card mb-2">
                <div class="card-body">
                    {% if page.tag is not null %}
                        <span class="badge"
                              style="background-color: {{ page.tag.color.value }}">{{ page.tag.label }}</span>
                    {% endif %}
                    <a href="{{ path('page_show', { 'id': page.id }) }}" class="link-primary">{{ page.name }}</a>
                    {% if page.description is not null %}
                        <div class="mt-2 small">{{ page.description }}</div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <span>Aucun résultat</span>
        {% endfor %}
    </div>
{% endblock %}
