{% extends 'base.html.twig' %}
{% from "macros.html.twig" import tag %}
{% from "macros.html.twig" import author %}

{% block title %}
    Quickdoc - {{ page.name }}
{% endblock %}

{% block body %}
    <div class="dropdown mb-4">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownPageActions" data-bs-toggle="dropdown"
                aria-expanded="false">
            Actions
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownPageActions">
            <li><a class="dropdown-item" href="{{ path('page_create', {'parent': page.id}) }}">Créer une page
                    enfant</a></li>
            <li><a class="dropdown-item" href="{{ path('page_update', {'id': page.id}) }}">Modifier la page</a></li>
        </ul>
    </div>
    <div class="p-4 mb-4 bg-light rounded-3">
        <div class="container-fluid">
            <h1 class="display-6 fw-bold">{{ page.name }}</h1>
            {{ tag(page) }}
            {% if page.description is not null %}
                <hr>
                <div class="mt-2">{{ page.description }}</div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-4">
            {% if page.parameters.showHierarchy == true %}
                {% include 'page/tabs/hierarchy/_page_hierarchy_tab.html.twig' with {'main_parent': main_parent, 'openByDefault' : page.parameters.openHierarchyByDefault } only %}
            {% endif %}

            {% include 'page/tabs/todos/_todos_tab.html.twig' with { 'openByDefault': page.parameters.openTodolistByDefault, 'todo_form' : todo_form, 'page' : page } only %}

            {% if page.parameters.showVersions == true %}
                {% include 'page/tabs/_versions_tab.html.twig' with {'histories': main_parent.sortedPageHistories, 'openByDefault': page.parameters.openVersionsByDefault} only %}
            {% endif %}
        </div>

        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body">
                    {% if page.body is null or page.body|trim|length == 0 %}
                        <span>Le contenu de cette page est vide.</span>
                    {% else %}
                        {{ page.body|raw }}
                    {% endif %}
                    <hr>
                    <div class="small">Page créée
                        le {{ page.createdAt|format_datetime('full', 'short', locale='fr') }}
                        par {{ author(page.author) }}
                    </div>
                    <div class="small">Dernière modification
                        le {{ page.updatedAt|format_datetime('full', 'short', locale='fr') }}
                        (Version {{ page.version }})
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

